<a href="https://colab.research.google.com/github/PadmarajBhat/Real-Time-Analytics-on-Hadoop/blob/master/Sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -U pyspark
!pip install -U pyarrow
!sudo apt install openjdk-8-jdk
!sudo update-alternatives --config java

Requirement already up-to-date: pyspark in /usr/local/lib/python3.6/dist-packages (2.4.3)
Requirement already satisfied, skipping upgrade: py4j==0.10.7 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.7)
Requirement already up-to-date: pyarrow in /usr/local/lib/python3.6/dist-packages (0.13.0)
Requirement already satisfied, skipping upgrade: numpy>=1.14 in /usr/local/lib/python3.6/dist-packages (from pyarrow) (1.16.3)
Requirement already satisfied, skipping upgrade: six>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pyarrow) (1.12.0)
Reading package lists... Done
Building dependency tree
Reading state information... Done
openjdk-8-jdk is already the newest version (8u212-b03-0ubuntu1.18.04.1).
The following package was automatically installed and is no longer required:
  libnvidia-common-410
Use 'sudo apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 6 not upgraded.
There are 2 choices for the alternative java (providing /usr/bin/java).

  Selection    Path                                            Priority   Status
------------------------------------------------------------
  0            /usr/lib/jvm/java-11-openjdk-amd64/bin/java      1111      auto mode
  1            /usr/lib/jvm/java-11-openjdk-amd64/bin/java      1111      manual mode
* 2            /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java   1081      manual mode

Press <enter> to keep the current choice[*], or type selection number:

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("MLlib").getOrCreate()
a = [(0,1),(0,2),(1,1),(1,2),(2,1),(2,2),(3,1),(3,2)]
b = spark.createDataFrame(a,["class","num"])
b.show()

+-----+---+
|class|num|
+-----+---+
|    0|  1|
|    0|  2|
|    1|  1|
|    1|  2|
|    2|  1|
|    2|  2|
|    3|  1|
|    3|  2|
+-----+---+

In [3]:
b= b.withColumn("num", b['num']/b['num'])
b.show()

+-----+---+
|class|num|
+-----+---+
|    0|1.0|
|    0|1.0|
|    1|1.0|
|    1|1.0|
|    2|1.0|
|    2|1.0|
|    3|1.0|
|    3|1.0|
+-----+---+

In [4]:
b=b.withColumn("new", b['class']+b['num'])
b.show()

+-----+---+---+
|class|num|new|
+-----+---+---+
|    0|1.0|1.0|
|    0|1.0|1.0|
|    1|1.0|2.0|
|    1|1.0|2.0|
|    2|1.0|3.0|
|    2|1.0|3.0|
|    3|1.0|4.0|
|    3|1.0|4.0|
+-----+---+---+

In [5]:

b.show()

+-----+---+---+
|class|num|new|
+-----+---+---+
|    0|1.0|1.0|
|    0|1.0|1.0|
|    1|1.0|2.0|
|    1|1.0|2.0|
|    2|1.0|3.0|
|    2|1.0|3.0|
|    3|1.0|4.0|
|    3|1.0|4.0|
+-----+---+---+

In [6]:
!echo $PATH

/usr/local/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/opt/bin

In [7]:
!lscpu

Architecture:        x86_64
CPU op-mode(s):      32-bit, 64-bit
Byte Order:          Little Endian
CPU(s):              2
On-line CPU(s) list: 0,1
Thread(s) per core:  2
Core(s) per socket:  1
Socket(s):           1
NUMA node(s):        1
Vendor ID:           GenuineIntel
CPU family:          6
Model:               63
Model name:          Intel(R) Xeon(R) CPU @ 2.30GHz
Stepping:            0
CPU MHz:             2300.000
BogoMIPS:            4600.00
Hypervisor vendor:   KVM
Virtualization type: full
L1d cache:           32K
L1i cache:           32K
L2 cache:            256K
L3 cache:            46080K
NUMA node0 CPU(s):   0,1
Flags:               fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm invpcid_single pti ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 avx2 smep bmi2 erms invpcid xsaveopt arat arch_capabilities

In [0]:
#!less /proc/cpuinfo

Nice Article on UDFs: https://www.slideshare.net/ueshin/apache-arrow-and-pandas-udf-on-apache-spark

* When is SCALAR needed?

In [9]:
b.select('num').show()

+---+
|num|
+---+
|1.0|
|1.0|
|1.0|
|1.0|
|1.0|
|1.0|
|1.0|
|1.0|
+---+

In [10]:
b.withColumn("num_2", b["num"]* 5).show()

+-----+---+---+-----+
|class|num|new|num_2|
+-----+---+---+-----+
|    0|1.0|1.0|  5.0|
|    0|1.0|1.0|  5.0|
|    1|1.0|2.0|  5.0|
|    1|1.0|2.0|  5.0|
|    2|1.0|3.0|  5.0|
|    2|1.0|3.0|  5.0|
|    3|1.0|4.0|  5.0|
|    3|1.0|4.0|  5.0|
+-----+---+---+-----+

In [11]:
b.withColumn("str(num)", str(b['num']))

AssertionError: ignored

Create UDF to convert number to string

In [0]:
from pyspark.sql.functions import col, pandas_udf
from pyspark.sql.types import LongType, StringType

# Declare the function and create the UDF
def num_to_string(a):
    b= a.apply(lambda x: str(x)+"_1")
    #print(b)
    return b

numToString = pandas_udf(num_to_string, returnType=StringType())

In [13]:
b.withColumn("new_num", numToString(col('num'))).show()

+-----+---+---+-------+
|class|num|new|new_num|
+-----+---+---+-------+
|    0|1.0|1.0|  1.0_1|
|    0|1.0|1.0|  1.0_1|
|    1|1.0|2.0|  1.0_1|
|    1|1.0|2.0|  1.0_1|
|    2|1.0|3.0|  1.0_1|
|    2|1.0|3.0|  1.0_1|
|    3|1.0|4.0|  1.0_1|
|    3|1.0|4.0|  1.0_1|
+-----+---+---+-------+